$firegrey: #ECEFF1;
$firered: #e50303;
$fireblue: #039be5;
$mainFonts: Roboto, Arial, sans-serif;

.noscript,
.sw-warning h1 {
  text-align: center;
  color:#652323;
  background: #f1f39b;
  margin:0;
  padding:5px;
}
.sw-warning {
  display: none;
}

.sw-warning--triggered {
  display: block;
}

.sw-unsupported {
  opacity: 0.3; 
}

body {
  font-family: $mainFonts;
  background: $firegrey url(../images/bg-pattern.png);
  color: rgba(0,0,0,0.87);
  margin: 0;
  box-sizing: border-box;
}
a {
  color: rgb(3,155,229);
}

.wrap {
  border-top: 5px solid $firered;
  &.sw-controlled {
    border-color: green;
  }
}

.message {
  width: 300px;
  max-width: 80%;
  margin: 40px auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 2px;
  background: white;
  padding: 16px 24px;
  text-align: center;
  & h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 16px;
  }
  & p {
    font-weight: 300;
    line-height: 150%;
  }
  ul {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    text-align: center;
  }
  li button {
    padding: 8px;
    text-transform: uppercase;
    background: $firered;
    color: white;
    border: 1px solid $fireblue;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    min-width: 120px;
    overflow: hidden;
  }
  .button {
    cursor: pointer;
  }
  .cache-status__install--false, 
  .sw-status__registered--false {
    background: $firered;
  }

  .cache-status__install--true,
  .sw-status__registered--true {
    background: green;
  }
}


body {
  font-family: sans-serif;
}

.cee-lo {
}
.dice {
  border: 2px dashed #ab9d9d;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 0 5px;
}
.dice--pair {
  background-color: red;
}
.dice--win {
  background-color: blue;
}
.dice__die {
  display: inline-block;
  background: silver;
  margin: 0 5px 5px 0;
  padding: 5px;
  width: 15px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}
.dice__die:last-child {
  margin-right: 0;
}
.roll {
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 5px;
  text-decoration: none;
  color: white;
  background: $firered;
  border-radius: 2px;
}